@charset "UTF-8";

.spot {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#shape {
	stroke-width: 6px;
	fill: transparent;
	stroke: #009FFD;
	stroke-dasharray: 85 400;
	stroke-dashoffset: -220;
	transition: 1s all ease;
}

#text {
	margin-top: -35px;
	text-align: center;
}

#text a {
	color: white;
	text-decoration: none;
	font-weight: 100;
	font-size: 1.1em;
}

.svg-wrapper {
	margin-top: 0;
	position: relative;
	width: 150px;
	/*make sure to use same height/width as in the html*/
	height: 40px;
	display: inline-block;
	border-radius: 3px;
	margin-left: 5px;
	margin-right: 5px
}

.svg-wrapper:hover #shape {
	stroke-dasharray: 50 0;
	stroke-width: 3px;
	stroke-dashoffset: 0;
	stroke: #06D6A0;
}

.clear {
	clear: both;
	height: 40px;
}

.top {
	margin-top: 30px;
	height: 400px;
	color: white;
	background-color: black;
}

.posterimg {
	position: relative;
	z-index: 1;
}

.top-content {
	margin: 0 auto;
	width: 1000px;
	height: 400px;
	position: relative;
}

.top-content::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.45;
}

.poster {
	padding-right: 50px;
	width: 240px;
	float: right;
	text-align: center;
}

.poster img {
	padding: 15px 0 0 0;
	width: 212px;
	height: 318px;
}

.mvtitle {
	height: 50px;
	display: flex;
	font-size: 16pt;
	align-items: center;
	margin: 30px 20px 0 0;
}

.mvtitle img {
	float: left;
	padding-right: 15px;
}

.mvtitle h1 {
	padding-top: 4px;
	margin: 0;
}

.title {
	position: relative;
	width: 620px;
	height: 350px;
	float: left;
	padding-left: 50px;
}

.title button {
	clear: both;
	background: transparent;
	color: white;
	border: 1px solid white;
	width: 85px;
	height: 30px;
	border-radius: 6px;
	margin-right: 15px;
}

.xi-heart {
	color: red;
}

#sharediv {
	display: none;
	width: 330px;
	height: 70px;
	background-color: white;
	border-radius: 5px;
}

#sharediv button {
	color: black;
	font-weight: bolder;
	width: 90px;
	height: 75px;
	border: none;
}

#triangle {
	display: none;
	position: relative;
	top: 3px;
	left: 137px;
	width: 22px;
	height: 12px;
	background:
		url("https://img.megabox.co.kr/static/pc/images/common/bg/bg-tooltip-arr-top-script.png");
}

.title-info {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 50px;
}

.title-info div {
	display: inline-block;
	padding-right: 25px;
}

.cata {
	width: 900px;
	margin: 0 auto;
	text-align: center;
	font-size: 15pt;
	display: flex;
}

.trailer, .actors, .stillcut {
	height: 40px;
	width: 100%;
	display: inline-block;
	border-bottom: 2px solid;
}


ul {
	width: 1042px;
	height: 41px;
	margin: 0 auto;
	font-size: 13pt;
	border-bottom: 1px solid;
	padding: 0px;
}

li {
	width: 260px;
	display: block;
	height: 41px;
	line-height: 40px;
	padding: 0;
	text-align: center;
	text-decoration: none;
}

.on {
	height: 42px;
	background-color: white;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
}

.info {
	margin: 0 auto;
	width: 1040px;
}